html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.menu-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);

}

.menu-content {
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.menu-bar .menu-right {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.menu-bar .menu-right a {
    font-size: 16px;
    padding: .8rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color .3s;
}

.menu-bar .menu-right a:hover {
    color: #facf0f;
}

.hero-section {
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(./assets/bg1.jpg);
    background-size: cover;
    position: relative;
}

.hero-section .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.hero-section .hero-content h1 {
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 800;
    color: #111;
}

.hero-section .hero-content p {
    font-size: 22px;
    line-height: 32px;
    max-width: 700px;
    color: #333;
    margin: 30px auto 0 auto;
    font-weight: 500;
}

.btn {
    display: inline-block;
    background: #facf0f;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    padding: 20px 80px;
    font-size: 20px;
    text-decoration: none;
    transition: transform .3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-medium {
    padding: 15px 55px;
    font-size: 16px;
    margin-top: 20px;
}

.hero-section .btn {
    margin: 50px 0 0 0;
}

.section {
    padding: 120px 0;
}

.about-section {
    background: #fafafa;
}

.section-title {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #111;
    position: relative;
    margin: 0;
}

.section-title::after {
    content: '';
    width: 30px;
    height: 5px;
    background-color: #facf0f;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.section-info {
    text-align: center;
    font-size: 20px;
    max-width: 900px;
    margin: 35px auto 0 auto;
    color: #555;
    font-weight: 500;
    line-height: 32px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 90px;
}

h3 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    display: block;
}

.paragraph {
    font-size: 18px;
    line-height: 30px;
    color: #666;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills .skill {
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    background: rgba(153,153,153,.2);
    color: #666;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 100px;
    margin-top: 90px;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-title {
    margin: 0;
}

.contact-section {
    background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(./assets/bg1.jpg);
    background-size: cover;
}

.contact-form-container {
    width: 58%;
    background: #fff;
    margin: 90px auto 0 auto;
    padding: 40px;
}

.input-field {
    margin-bottom: 40px;
}

.input-field label {
    display: block;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input-field input, .input-field textarea {
    font-family: inherit;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ebebeb;
    font-size: 16px;
    background: #f0f0f0;
    font-weight: 600;
    letter-spacing: 0;
}

.contact-form-button {
    text-align: right;
}

.footer {
    padding: 40px 0;
    text-align: center;
    background: #000;
    color: #fff;
}

img {
    width: 90%;
}

@media only screen and (max-width: 900px) {
    .menu-content {
        padding: 10px 0;
    }
    .menu-right{
        margin-left: 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .hero-section {
        height: 800px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        text-align: center;
    }

    .project-info {
        text-align: center;
    }

    .contact-form-container {
        width: initial;
        padding: 20px !important;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .hero-section .hero-content h1 {
        font-size: 35px;
        line-height: 60px;
    }

    .hero-section .hero-content p {
        font-size: 17px;
        line-height: 28px;
    }

    .btn {
        font-size: 18px;
    }

    .section-title {
        font-size: 35px;
    }

    .section-info {
        font-size: 16px;
        line-height: 27px;
    }

    p, .paragraph {
        font-size: 16px;
        line-height: 27px;
    }

    .project-info {
        align-items: center;
    }

    .project-info .skills {
        justify-content: center;
    }
}
